<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>
    <form method="POST" action="/login">
        <div>
            <label>ユーザーID</label><br>
            <input type="text" class="txtUserID" name="userid">
        </div>
        <div>
            <label>パスワード</label><br>
            <input type="password" class="txtPassWord" name="password">
        </div>
        <div>
            <button type="submit">ログイン</button>
        </div>
    </form>
</body>
</html>
